header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 10px;
    height: 100%;
    margin-left: 20px;
}